<h1>All Articles</h1>

<ul id="articles">
    <% @articles.each do |w| %>
        <li><%= link_to w.title, article_path(w) %></li>
    <% end %>
</ul>

<%= link_to "Create a New Article", new_article_path, class: "new_article" %>